@font-face {
  font-family: 'Campton-Medium';
  src: url('../webfonts/35DFAD_1_0.eot');
  src: url('../webfonts/35DFAD_1_0.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/35DFAD_1_0.woff2') format('woff2'),
  url('../webfonts/35DFAD_1_0.woff') format('woff'),
  url('../webfonts/35DFAD_1_0.ttf') format('truetype');
  font-weight: 600;
	font-style: normal;
}

@font-face {
  font-family: 'Campton-SemiBold';
  src: url('../webfonts/35DFAD_2_0.eot');
  src: url('../webfonts/35DFAD_2_0.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/35DFAD_2_0.woff2') format('woff2'),
  url('../webfonts/35DFAD_2_0.woff') format('woff'),
  url('../webfonts/35DFAD_2_0.ttf') format('truetype');
  font-weight: 700;
	font-style: normal;
}

@font-face {
  font-family: 'NoeDisplay-Bold';
  src: url('../webfonts/noedisplaybold.eot'),
  url('../webfonts/noedisplaybold.woff') format('woff');
  font-weight: 800;
	font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F9F9F9;
  color: #322B5E;
  font-family: 'Campton-Medium', 'Helvetica Neue', Helvetica, sans-serif;
}


h1 {
  font-family: 'NoeDisplay-Bold', 'Campton-Medium', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 56px;
  letter-spacing: -1px;
  line-height: 1;
  max-width: 600px;
  margin: 0 auto 60px auto;
}

.smaller-heading {
  font-size: 46px;
  margin-bottom: 30px;
}

.larger-heading {
  font-size: 66px;
  line-height: 0.9;
  margin-top: 40px;
}

h2 {
  max-width: 700px;
  font-family: 'Campton-SemiBold';
  font-size: 30px;
  letter-spacing: -1px;
}

h2.text-center {
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 22px;
  max-width: 500px;
}

h3.text-center {
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width: 400px;
}

p.text-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 25px 40px;
  color: white;
  background-color: #322B5E;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

em {
  font-style: normal;
  font-family: 'Campton-SemiBold'
}

.header {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

.email-body {
  padding-top: 20px;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100px;
  background-color: white;
}

.footer {
  padding-top: 40px;
  padding-bottom: 70px;
}

.footer img {
  display: block;
  margin: 30px auto;
}

.footer p {
  max-width: 200px;
  margin: 10px auto;
}

.row {
  padding: 30px 60px;
}

.hero-image {
  width: 100%;
  height: 400px;
  background-size: cover;
}

.text-center {
  text-align: center;
}

.column-wrapper {
  display: flex;
}

.column {
  margin-right: 30px;
}

.cta {
  width: 100%;
  padding: 40px;
  border: 2px solid #F9F9F9;
  text-align: center;
}

.cta h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.cta p {
  margin: 0 auto;
  max-width: 500px;
}

.event-card--image {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-card--details {
  text-align: center;
  border: 1px solid #CECECE;
  width: 300px;
}

.event-card--details h4 {
  margin-bottom: 3px;
  font-family: 'Campton-SemiBold';
  font-size:
}

.event-card--details p {
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .smaller-heading {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.5px;
  }

  .row {
    padding: 10px 30px;
  }
}




/* */
